:root {
    --color-main: #3f8dd1;
    --color-main-hover: #2f7dc1;
    --color-dark: rgba(0, 0, 0, 0.5); 
    --color-light: rgba(250, 250, 250, 0.3); 
    --color-darker: rgba(0, 0, 0, 0.75); 
    
    --sidebar: none;
}

html, body {
  box-sizing: border-box;
  background-color: #fff;
  width: 100%; 
  margin: 0px;
  font-size: calc(1em + 1vw);
}

.grid {
    display: grid;
    grid-template: repeat(auto, 1fr) / repeat(12, 1fr);
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "c c c c c c c c c c c c"
        "f f f f f f f f f f f f";
}

.header {
    grid-area: h;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}

.logo {
    font-size: 1.2rem;
    width: 250px;
}


.logo img {
    width: 250px;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Navigation bar for large screens */

#navbar {
    top: 0;
    position: fixed;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    z-index: 99;
    width: 100vw;    
    display: flex;
    justify-content: space-around;
    align-items: center;  
    transition: background 0.5s ease-in;
}



@media only screen and (max-width: 768px) { 	
    #navbar { 
        background-color: rgba(250, 250, 250, 0.85) ;
        box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.4); 
    } 
}

.nav-colored {
    background-color: rgba(250, 250, 250, 0.85) ;
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.4); 
}

ul .nav { list-style-type: none; } 

.nav li {
    display: inline-block;
    font-family: Gudea;
    padding: 10px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -oz-transition: all 0.5s ease-in-out;
}

.nav li:hover {
    color: #fff;
    border-radius: 3px;
    background: var(--color-main);
}


.active {
    color: #fff;
    background: var(--color-main);    
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -oz-transition: all 0.5s ease-in-out;
    
}

.active:hover { opacity: 0.9; }


/* Side Navigation board for small screens */


.sbtn {
    position: absolute;
    right: 0;
    display: none;
    border: none;
    padding: 15px 13px 11px 13px;
    font-size: 1.8em;
    color:  var(--color-main);
    background: transparent;
}

.sidebar {
    width: 98vw;
    height: 0;
    z-index: 9999;
    top: 67px;
    left: 0;
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    margin: 0 5px 0 5px;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    text-align: center;
    background: rgba(240, 240, 240, 0.85);
    margin: 4px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -oz-transition: all 0.3s ease-in;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 10px; 
    border-bottom-right-radius: 10px;
    border-radius: 5px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.01), 0 16px 50px 0 rgba(0, 0, 0, 0.12);
}



.sidebar ul li {
    color: rgba(10, 10, 10, 0.9);
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 1.5em;
    padding: 10px;
}


.sidebar ul li:hover {
    background: rgba(250, 250, 250, 0.3);
    color: var(--color-main);
}
    

/* Media Queries */

@media only screen and (max-width: 768px) { 	
    
    html{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .nav ul { display: none; }
    
    #navbar { 
        justify-content: space-between;
    }
    
    .sbtn { display: inline-block }
    
    .logo {
       font-size: 1.2rem;
        width: 150px;
    }


    .logo img {
        width: 150px;
    }
} 


@media only screen and (min-width: 768px) { 	
    .sidebar {
        display: none;
    }
}

/* Content Company Space */

.company-info-container  {
    display: grid;
    height: auto;
    grid-template-areas: 
        "t t t"
        "a b c"
        "a b c"
        "a b c"
        "a b c";
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    background: linear-gradient(transparent 40%, rgba(200, 200, 200, 0.7));
    padding: 20px;

}

.separator {
    content: "";
    width: auto;
    height: 50px;
    opacity: 0.9;
    margin: 0;
    background: linear-gradient(transparent , rgba(0, 0, 0, 0.15), transparent);
}

.company-info-container .main-item {
    grid-area: t;
    display: inline-grid;
    align-content: center;
    text-align: center;
    padding: 20px;
}


.main-item .title {
    font-size: 3em;
    color: var(--color-main); 
    font-family: 'Comfortaa', serif;
    margin-bottom: 20px;
}

.main-item .sub {
    font-size: 1em;
    color: var(--color-darker); 
    font-style: italic;
    font-family: 'Comfortaa', serif;
}


.company-info-container .content {
    display: inline-grid;
    align-content: center;
    text-align: center;
    padding: 20px;
    color: red;
    font-family: 'Comfortaa', sans-serif;
}

.content .subtitle {
    font-size: 22px;
    font-weight: bold;
    line-height: 8vh;
    color: rgba(10, 10, 10, 0.80);
}

.content .text {
    font-size: 18px;
    line-height: 26px;
    padding: 5px;
    color: rgba(30, 30, 30, 0.80);
}

.company-info-container .arrow-link {
    color: var(--color-main);
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    padding: 6px;
    font-size: 1em;
    background: #e0e0e0;/*linear-gradient(#ddd, #e0e0e0 20%, #e0e0e0 80%, #ddd);*/
    transition: all 0.3s ease-out;
}


.arrow-link:hover, .arrow-link:focus {
    color: var(--color-main-hover);
    background: #eaeaea;
    
}


.company-info-container .item1 {
    grid-area: a;
}

.company-info-container .item2 {
    grid-area: b;
}

.company-info-container .item3 { 
    grid-area: c;
}


@media only screen and (max-width: 768px) { 
    
    .company-info-container  {
        background: linear-gradient(rgba(0, 0, 0,0.0.1) 5%, transparent 95%, rgba(0, 0, 0, 0.15));
        grid-template-areas: 
        "t t t"
        "a a a"
        "b b b"
        "c c c";

    }
    
    .main-item .title {
        font-size: 2em;
    }
    

    .main-item .sub {
        font-size: 1em;
}

    
    .content .subtitle {
        font-size: 1.5em;
        line-height: normal;
    }

    .content .text {
        font-size: 1em;
        line-height: normal;
        padding: 10px;
    }
    
    .company-info-container .arrow-link {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 400px) { 
    
    .company-info-container  {
        background: linear-gradient(rgba(0, 0, 0,0.0.1) 5%, transparent 95%, rgba(0, 0, 0, 0.15));
        grid-template-areas: 
        "t t t"
        "a a a"
        "b b b"
        "c c c";

    }
    
    .main-item .title {
        font-size: 1.5em;
        line-height: normal;
    }
    

    .main-item .sub {
        font-size: 0.7em;
}

    
    .content .subtitle {
        font-size: 1.3em;
        line-height: normal;
    }

    .content .text {
        font-size: 0.7em;
        line-height: normal;
        padding: 10px;
    }
    
    .company-info-container .arrow-link {
        font-size: 0.7em;
    }
}



@media only screen 
  and (max-width: 768px)
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      
    .company-info-container  {
        background: linear-gradient(rgba(0, 0, 0,0.0.1) 5%, transparent 95%, rgba(0, 0, 0, 0.15));
        grid-template-areas: 
        "t t t"
        "a a a"
        "b b b"
        "c c c";

    }  
      
    .main-item .title {
        font-size: 2em;
    }
    

    .main-item .sub {
        font-size: 0.95em;
}

    
    .content .subtitle {
        font-size: 1.3em;
        line-height: normal;
    }

    .content .text {
        font-size: 0.95em;
        line-height:  normal;
        padding: 10px;
        padding-bottom: 10px;
    }
      
    .company-info-container .arrow-link {
        font-size: 0.8em;
    }

}


/* For Tabs, Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) {


     .company-info-container  {
        background: linear-gradient(rgba(0, 0, 0,0.0.1) 5%, transparent 95%, rgba(0, 0, 0, 0.15));
        grid-template-areas: 
        "t t t"
        "a a a"
        "b b b"
        "c c c";

    }
    
    .main-item .title {
        font-size: 2em;
    }
    

    .main-item .sub {
        font-size: 1em;
}

    
    .content .subtitle {
        font-size: 1.5em;
        line-height: 2em;
    }

    .content .text {
        font-size: 1em;
        line-height: auto;
        padding: 20px;
        padding-bottom: 20px;
    }
    
    .company-info-container .arrow-link {
        font-size: 2em;
    }
      
      
}


/* For Tabs, Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

     .content .text {
         
        font-size: 1.4em;
        line-height: normal;
        padding: 20px;
        padding-bottom: 20px;
    }

}


.footer-style {
    text-align: center;
    
}

.social-buttons {
    display: flex;
    justify-content: center;
    background: #010101;
    font-size: 2em;
    padding: 10px;
    padding-bottom: 0;
}

.fb {
    margin: 10px; 
    margin-bottom: 2px;
    color: rgba(250, 250, 250, 0.95);
    transition: all 0.5s ease-out;
}


.ig {
    margin: 10px; 
    margin-bottom: 2px;
    color: rgba(250, 250, 250, 0.95);
    transition: all 0.5s ease-out;
}

.tw {
    margin: 10px; 
    margin-bottom: 2px;
    color: rgba(250, 250, 250, 0.95);
    transition: all 0.5s ease-out;
}


.fb:hover {
    color: #3b5998;
}

.ig:hover {
    color: #8a3ab9;
}

.tw:hover {
    color: #1da1f2;
}

.footer .tag {
    display: block;
    color: rgba(250, 250, 250, 0.9);
    font-size: 0.8em;
    text-align-last: center;
    font-family: 'Comfortaa', sans-serif;
    background: #010101;
    padding: 20px;
}


@media only screen 
  and (max-device-width: 400px) {
      
.footer .tag {
    font-size: 0.6em;
    padding: 20px;
}

}


@media only screen 
  and (min-device-width: 400px)
  and (max-device-width: 768px){

.footer .tag {
    font-size: 0.7em;
    padding: 20px;
}

}
